.card-container {
	position: relative;
	color: black;
}

.card-emp-picture {
	position: absolute;
	top: 16.9%;
	left: 5%;
}

.card-emp-name {
	position: absolute;
	top: 48%;
	left: 6%;
	font-weight: bold;
	font-size: 11px;
	color: #0000FF;
}

.card-province-logo {
	position: absolute;
	top: 18%;
	left: 49%;
}

.card-district-heading {
	position: absolute;
	top: 56%;
	left: 36.6%;
	font-weight: bold;
	font-size: 12px;
	color: #2f4f44;
}

.card-tehsil-uc-area-heading {
	position: absolute;
	top: 67%;
	left: 35%;
	font-weight: bold;
	font-size: 12px;
	color: #2f4f44;
}

.card-district {
	position: absolute;
	top: 56%;
	left: 52%;
	font-weight: bold;
	font-size: 11px;
	color: #0000FF;
}

.card-uc {
	position: absolute;
	top: 68%;
	left: 52%;
	font-weight: bold;
	font-size: 11px;
	color: #0000FF;
}

.card-emp-id {
	position: absolute;
	top: 86%;
	left: 66%;
	font-weight: bold;
	font-size: 11px;
	color: #0000FF;
}

.card-job-type {
	position: absolute;
	top: 55%;
	left: 6%;
	font-weight: bold;
	font-size: x-small;
	color: #0000FF;
}


/* Card Rear */

.card-cnic {
	position: absolute;
	top: 16.5%;
	left: 23%;
	font-weight: bold;
	font-size: 12px;
	color: #0000FF;
	letter-spacing: 1.09rem;
}

.card-other-id-name {
	position: absolute;
	top: 23%;
	left: 30%;
	font-weight: normal;
	font-size: x-small;
	color: #0000FF;
}

.card-date-of-birth {
	position: absolute;
	top: 28%;
	left: 29%;
	font-weight: bold;
	font-size: x-small;
	color: #0000FF;
}

.card-emergency {
	position: absolute;
	top: 40%;
	left: 44%;
	font-weight: bold;
	font-size: x-small;
	color: #0000FF;
}

.card-issue-date {
	position: absolute;
	top: 40%;
	left: 80%;
	font-weight: bold;
	font-size: x-small;
	color: #0000FF;
}

.temporary-card-issue-date {
	position: absolute;
	top: 50%;
	right: 62%;
	font-weight: bold;
	font-size: x-small;
	color: #0000FF;
}

.card-expiry-date {
	position: absolute;
	top: 50%;
	right: 19%;
	font-weight: bold;
	font-size: x-small;
	color: #0000FF;
}

.card-lost-location {
	position: absolute;
	top: 80%;
	left: 11%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	font-size: x-small;
	color: #0000FF;
}

.card-sign-authority {
	position: absolute;
	top: 93%;
	left: 5.5%;
	font-weight: 900;
	font-size: x-small;
	color: #0000FF;
}

.card-authority-signature {
	position: absolute;
	top: 70%;
	left: 30%;
}

tr {
	cursor: pointer;
}

.modal-body .form-control {
	border-color: #e1e4e7;
	box-shadow: 0 0 0 0;
	min-height: 45px;
	background-color: #f6f7f8;
	border-radius: 3px;
	margin-top: 10px;
}

.modal-footer .btnSubmit {
	background-color: #3e8df7;
	padding: 10px 90px;
	border-radius: 3px;
	box-shadow: 0 0 0 0;
	border: 0px;
	color: #fff;
}

.tabelTopBtn {
	padding-top: 0px !important;
}

@media screen {
	.hide-from-screen {
		display: none;
	}
}

@media print {
	@page {
		margin: 0;
	}

	.print-header {
		margin-top: 30px;
	}
	
	.hide-print {
		display: none;
	}
	.modal-content {
		border: 0px;
	}
	.marginLR {
		margin-top: 0px;
		margin-left: 20px;
		margin-right: 20px;
	}
	.hide-from-print {
		display: none;
	}
	.remove-padding-print {
		padding: 0px !important;
	}
	.remove-margin-print {
		margin: 0px !important;
	}
	.no-border-print {
		border: none !important;
	}
	.no-padding-print {
		padding-left: 0px;
		padding-right: 0px;
	}
	.border {
		border: 1px dashed #808080;
		padding: 5px !important;
	}
	.font-12 {
		font-size: 12px !important;
	}
	.col-print-1 {
		width: 8%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-2 {
		width: 16%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-3 {
		width: 25%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-4 {
		width: 33%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-5 {
		width: 42%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-6 {
		width: 50%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-7 {
		width: 58%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-8 {
		width: 66%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-9 {
		width: 75%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-10 {
		width: 83%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-11 {
		width: 92%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
	.col-print-12 {
		width: 100%;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
	}
}

.btn-group-sm>.btn {
	background: #3e8df7;
	border: 0px;
	padding: 1px 5px;
}

.dropdown-btns>.btn {
	background: #3e8df7;
	border: 0px;
	padding: 1px 5px;
}

.inputFormMain {
	margin-bottom: 10px;
}

.select2-container--default .select2-selection--single {
	background-color: #f6f7f8 !important;
	height: 42px !important;
	border: 1px solid #e1e4e7 !important;
	border-radius: 3px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 42px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px !important;
}

.tree,
.tree ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.tree ul {
	margin-left: 1em;
	position: relative
}

.tree ul ul {
	margin-left: .5em
}

.tree ul:before {
	content: "";
	display: block;
	width: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	border-left: 1px solid
}

.tree li {
	margin: 0;
	padding: 0 1em;
	line-height: 2em;
	color: #369;
	font-weight: 700;
	position: relative
}

.tree ul li:before {
	content: "";
	display: block;
	width: 10px;
	height: 0;
	border-top: 1px solid;
	margin-top: -1px;
	position: absolute;
	top: 1em;
	left: 0
}

.tree ul li:last-child:before {
	background: #f6f7f8;
	height: auto;
	top: 1em;
	bottom: 0
}

.indicator {
	margin-right: 5px;
}

.tree li a {
	text-decoration: none;
	color: #369;
}

.tree li button,
.tree li button:active,
.tree li button:focus {
	text-decoration: none;
	color: #369;
	border: none;
	background: transparent;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	outline: 0;
}

.navbar-nav>.dropdown>.dropdown-menu>li>a {
	margin: 0px !important;
	padding: 8px !important;
}

.navbar-nav>.dropdown>.dropdown-menu>li>a:hover {
	background: #000 !important;
}

.navbar-nav>.dropdown>.dropdown-menu {
	background: #3a3b3c !important;
}

.navbar-inverse .navbar-nav>.open>a {
	background-color: #000 !important;
	margin: 0px !important;
	padding: 15px !important;
}

.noresize {
	resize: none !important;
}

.vresize {
	resize: vertical;
}

#edit-profile-pic {
	position: absolute;
	top: 50px;
	left: 50px;
	right: 46px;
	color: #ddddfd;
	cursor: pointer;
}

#edit-profile-pic:hover {
	color: #fff;
}

#basic-information-form>.col-lg-12 {
	padding-left: 0px;
	padding-right: 0px;
}

#supervisor-detail>.col-lg-12 {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
}

#salary-detail>.col-lg-12 {
	padding-bottom: 5px;
}

.nav-item {
	border: 0px !important;
}

.tabelTopBtn {
	padding-top: 0px;
}

.form-control[disabled] {
	background: #e7f3ff !important;
}

.form-control[readonly] {
	background: #e7f3ff !important;
}

.nav-item>a {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

#supervisor-detail>.row {
	padding-bottom: 10px !important;
}

.salary-slip-body .col-md-12 {
	padding-bottom: 10px !important;
}

.bb-0 {
	border-bottom: 0px !important;
}

.nav-item {
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.form-control[disabled],
.form-control[readonly] {
	cursor: auto !important;
}

.no-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.salary-slip-footer {
	padding-top: 20px !important;
}

.salary-slip-footer .table-bordered>tbody>tr>td {
	border-left: 0px !important;
	border-right: 0px !important;
}


.warning-label {
	display: inline;
	padding: .2em .6em .3em;
	line-height: 1;
	background: #fcb322;
	font-weight: 100;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.primary-label {
	display: inline;
	padding: .2em .6em .3em;
	line-height: 1;
	background: #337ab7;
	font-weight: 100;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.info-label {
	display: inline;
	padding: .2em .6em .3em;
	line-height: 1;
	/*background: #5bc0de;*/
	background: #57b5e3;
	font-weight: 100;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.success-label {
	display: inline;
	padding: .2em .6em .3em;
	line-height: 1;
	background: #5cb85c;
	font-weight: 100;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.danger-label {
	display: inline;
	padding: .2em .6em .3em;
	line-height: 1;
	background: #d9534f;
	font-weight: 100;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.purple-label {
	display: inline;
	padding: .2em .6em .3em;
	line-height: 1;
	background: #9400D3;
	font-weight: 100;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.pink-label {
	display: inline;
	padding: .2em .6em .3em;
	line-height: 1;
	background: #FF1493;
	font-weight: 100;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.default-label {
	display: inline;
	padding: .2em .6em .3em;
	line-height: 1;
	background: #777;
	font-weight: 100;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.mt-0 {
	margin-top: 0px;
}

.plr-0 {
	padding-left: 0px;
	padding-right: 0px;
}

.plr-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.icon-gray {
  color: #777;
}

.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.resize-v {
  resize: vertical;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.mlr-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-5 {
  margin-left: 5px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
	padding-right: 15px;
}

.plr-15 {
	padding-right: 15px;
	padding-left: 15px;
}

.pr {
  padding-right: 15px;
}

.pb-5 {
  padding-bottom: 5px;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.small-btn {
  padding: 2px 5px !important;
  font-size: 12px;
  font-weight: 600;
}

.table-responsive {
	min-height: 150px !important;
}
